html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    position: absolute;
}

h1{
    text-align: center;
    font-size: 80px;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;
    
}

h2{
    text-align: center;
    font-size: 40px;
}

.images{
    height: 50vh;
    background: chocolate;
    position: relative;
    display: block;
}

#labrador{
    height: 200px;
    position: relative;
    transform: translate(5%,10%);
}

/* add other photos and position them in chocolate box */ 

