html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: blanchedalmond;
    position: absolute;
}

h1{
    width: 100vw;
    text-align: center;
    font-size: 80px;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;
    
}

h2{
    text-align: center;
    font-size: 40px;
}

.images{
    height: 50vh;      
    width: 40vw;

    background-image: linear-gradient(
        to right bottom,
        rgba(236, 127, 55, 0.5)
        rgba(255, 255, 255, 0.5)
    ),
    url(media/puppies.jpg); /* gradient doesnt work, find out how to make opacity on background image*/

    /*background: chocolate;
    position: relative;
    display: block;
    transform: translate(50%, 0%); */
}

#labrador{
    height: 200px;
    position: relative;
    transform: translate(5%,10%);
}

/* add other photos and position them in chocolate box */ 

