html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-image: linear-gradient(
        to right bottom,
        rgba(236, 127, 55, 0.5),
        rgba(255, 255, 255, 0.5)
    ),
    url(media/dog_ball.jpg);
    position: absolute;
}

h1{
    width: 100vw;
    text-align: center;
    font-size: 80px;
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}

h2{
    text-align: center;
    font-size: 40px;
}

.lab{
    height: 40vh;      
    width: 30vw;
    background: chocolate;
    display: inline-block; 
    position: relative;
    border: 5px solid black;
    left: 1rem;
}

#labimage{
    height: 150px;
    position: relative;
    left: 6.5rem;
    top: 5rem; 
}

.beagle{
    height: 40vh;      
    width: 30vw;
    background: chocolate;
    display: inline-block; 
    position: relative;
    border: 5px solid black;
    left: 4.5rem;
}

#beagleimage{
    height: 150px;
    position: relative;
    left: 9rem;
    top: 5rem; 
}

.pug{
    height: 40vh;      
    width: 30vw;
    background: chocolate;
    display: inline-block; 
    position: relative;
    border: 5px solid black;
    left: 7.5rem;
}

#pugimage{
    height: 150px;
    position: relative;
    left: 9rem;
    top: 5rem; 
}

/* add other photos and position them in chocolate box */ 

